.influenceurs-background{
    background-color: #F7F9FA;
}

.influencer-para{
    width: 45%;
    text-align: center;
}

.mt-neg{
    margin-top: -10px;
    border-top: 1px solid white;
}

.gray{
    color: #aaaeb3;
}

.influencer-btn {
    background-color: #FFFFFF; /* Initial background color */
    color: black; /* Initial text color */
    padding: 10px 35px; /* Padding */
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); /* Slant effect */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.influencer-btn:hover {
    background-color: #89C600; /* Background color on hover */
    color: white; /* Text color on hover */
}



/* .youtube-para{
    width: 50%;
} */


@media only screen and (max-width: 992px) {
.mt-992{
    margin-top: 20px;
}
  }


@media only screen and (max-width: 768px) {
    .influencer-para{
        width: 95%;
        text-align: center;
    }
    .none-768{
        display: none;
    }
  }

@media only screen and (max-width: 425px) {
    .influencer-para{
        width:100%;
        text-align: center;
    }

  }
  