.Promotions .content h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
}

.Promotions .content span {
    color: #89c600
}

.Promotions .content p {
    font-size: 1rem;
    line-height: 1.4;
    color: #5e646b;
    font-weight: 500;
    text-align: left;
}

.Promotions .content-2 h1 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.Promotions .content-2 p {
    font-size: 1rem;
    line-height: 1.4;
    color: #5e646b;
    font-weight: 500;
}

.Promotions .section {
    font-size: 1.4rem;
    line-height: 1.4rem;
 color:white;
    background-color: #101922;    ;
    font-weight: 500;
}

.Promotions .section h1 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.Promotions .section p {
    margin-top: 10px;
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.Promotions .section button {
    padding: 10px 20px;
font-size: 16px;
}


.Promotions.image-container {
    width: 100%;
    /* Full width of the parent container */
    overflow: hidden;
    /* Ensure that any overflowing parts are hidden */
    display: flex;
    /* Use flexbox for alignment */
    justify-content: center;
    /* Center the image */
}

.Promotions .image-container img {
    width: 100%;
    /* Make the image take the full width of the container */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Prevent any extra space below the image */
}

.Promotions .section-2 {
    background-color: #1b1b1b;
}

.Promotions .section-2 .content {
    text-align: left;
    color: #77797a;
}

.Promotions .section-2 .content h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    color: white;
    margin: 1vh 0;

}

.Promotions .section-2 .content h6 {
    font-size: 1rem;
    font-weight: 800;
    text-align: left;
    margin: 1vh 0;

}

.Promotions .section-2 .content p {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin: 1vh 0;

}

.Promotions .section-2 .content span {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin: 1vh 0;

}





@media (max-width: 768px) {


    .Promotions .container {
        padding: 0;
    }

    .Promotions .content h1 {
        font-size: 2.2rem;
    }

    .Promotions .content span {
        color: #89c600
    }

    .Promotions .content p {
        font-size: 1rem;
        line-height: 1.4;
        color: #5e646b;
        font-weight: 500;
        text-align: center;
    }


    .Promotions .content-2 h1 {
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
    }


    .Promotions .content-2 p {
        font-size: 1rem;
        line-height: 1.4;
        color: #5e646b;
        font-weight: 500;
        text-align: center;
    }

    .Promotions .section-2 {
        padding: 0 5vw;

    }

}